@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap");
@font-face {
  font-family: "Header";
  src: url(Fonts/Lobster-Regular.ttf);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f7;
}
body > nav > div > a > img {
  margin-top: -5px;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  background-color: #17181c;
  align-items: center;
  justify-content: space-between;
}
.navbar-dark.bg-dark {
  background-color: #17181c !important;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  padding: 10px 10px;
  letter-spacing: 2.5px;
}

.navbar-brand {
  letter-spacing: 1.5px;
  font-family: "Header";
  font-size: 30px;
}

.navbar-brand .nights-text {
  color: #900d09; /* Color for "Nights" part */
}

.search-form {
  margin-right: auto;
  margin-left: 20px;
}

.search-form input[type="text"] {
  width: 300px; /* Adjust the width as needed */
  padding: 8px;
  border-radius: 4px;
  border: none;
}
.search-form input[type="text"] {
  font-style: italic;
}

.search-form button {
  background-color: #900d09;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.search-form button:hover {
  background-color: #860703;
}

.navbar-nav {
  flex-grow: 1;
  justify-content: center;
}

.nav-link {
  margin: 0 10px;
}

/* .btn-primary {
  color: #fff;
  background-color: #900d09;
  border-color: #760b08;
}

.btn-primary:hover {
  background-color: #860703;
  border-color: #760b08;
} */
.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
  border: 2px solid rgb(46, 46, 46);
}

.sub-menu-wrap {
  position: absolute;
  top: 92%;
  right: 0.5%;
  width: 290px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s;
  z-index: 1; /* Set a higher z-index to ensure the dropdown menu appears on top */
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #17181cfb;
  padding: 20px;
  margin: 10px;
  border-radius: 18px;
}

.user-info {
  position: relative;
  font-family: "Konkhmer Sleokchher", cursive;
  color: #fff;
  word-spacing: 5px;
}
.user-info h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 73px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin: 12px 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.sub-menu-link p {
  width: 100%;
  margin-bottom: 0;
}

.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.spacer {
  flex-grow: 0.015;
  margin-right: 1px;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 30px;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 3.5px solid rgb(0, 0, 0);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.409);
  border-radius: 12px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.carousel:hover,
.carousel:focus,
.carousel:active {
  box-shadow: 0 0 20 px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1);
  transform: scale(1.003);
}

.carousel-wrapper {
  display: flex;
  animation: slide 5s infinite;
  white-space: nowrap; /* Prevent the carousel items from wrapping */
}

.carousel-slide {
  width: 56.25vmin; /* 16:9 ratio */
  height: 0;
  padding-bottom: 56.25%; /* 9/16 = 0.5625 or 56.25% */
  flex-shrink: 0;
  position: relative;
}

.carousel-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #ffffff;
}

@keyframes slide {
  0% {
    transform: translateX(100%); /* Start from the right margin */
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
}

h2 {
  font-size: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  color: rgb(0, 0, 0);
}

.movie-item {
  background-color: #fff;
  border-radius: 4px;
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.movie-item:hover,
.movie-item:focus,
.movie-item:active {
  box-shadow: 0 0 20 px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-poster {
  width: 100%;
  margin-bottom: 10px;
  height: 350px; /* Set a fixed height for the movie posters */
  object-fit: cover; /* Ensure the images maintain their aspect ratio and cover the container */
}

.movie-poster {
  width: 100%;
  border-radius: 12px;
}

.movie-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.movie-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  margin-left: 20%;
}

.movie-rating-text {
  font-size: 14px;
  color: #888;
  flex: 1;
  text-align: left;
}

.movie-year-text {
  font-size: 14px;
  color: #888;
  flex: 1;
  text-align: right;
  margin-right: 25%;
}

.movie-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.movie-actions button {
  background-color: #900d09;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.movie-actions button:hover {
  background-color: #0056b3;
}

.container-fluid {
  background-color: #17181c;
}

@media (max-width: 767px) {
  .container {
    padding: 10px;
  }

  .movie-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.footer {
  background-color: #f5f5f7;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
}
